apple-stock-chart {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}

.line {
  fill: none;
  stroke: steelblue; /* sets line to blue? */
  stroke-width: 1.5px;
}

.overlay {
  fill: none;
  pointer-events: all;
}

.focus circle { /* makes pointer on line a circle? */
  fill: none; /* makes circle color transparent */
  stroke: steelblue; /* makes circle blue? */
}
